.swiper {
  @apply w-[90%] pb-8;
}

.swiper-slide {
  @apply w-[90vw] sm:w-[550px] h-[380px] transition-all duration-300;
}

.gameCardSlider {
  @apply relative w-full h-full p-4 sm:p-6 overflow-hidden rounded-3xl shadow-[0_15px_35px_rgba(0,0,0,0.5)] bg-gradient-to-br from-blue-200 via-blue-300 to-violet-300 border-2 border-violet-300/40;
}

.gameCardSlider::after {
  content: "";
  @apply absolute top-0 left-0 right-0 bottom-0 bg-black/30 rounded-3xl;
}

.swiper-slide img {
  @apply absolute top-0 left-0 w-full h-full object-cover object-center opacity-20 blur-[2px];
}

.swiper-button-prev,
.swiper-button-next {
  @apply absolute w-10 h-10 sm:w-12 sm:h-12 bg-violet-300/20 border border-violet-300/40 rounded-full backdrop-blur bottom-4 flex items-center justify-center shadow-lg hover:scale-110 transition;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-xl text-blue-50;
}

.gameCardSlider .content {
  @apply absolute bottom-4 z-50 w-[90%] sm:w-3/5;
}

.gameCardSlider .content h2 {
  @apply text-2xl sm:text-4xl font-cyber text-yellow-300 drop-shadow-[0_0_6px_#edff66];
}

.gameCardSlider .content p {
  @apply text-xs sm:text-sm text-blue-50 drop-shadow;
}

.gameCardSlider .content .price {
  @apply mt-1 sm:mt-2 text-yellow-100 font-bold drop-shadow;
}

.gameCardSlider .content .buttons {
  @apply flex flex-wrap items-center gap-4 sm:gap-5 mt-3 sm:mt-4;
}

.gameCardSlider .content .buttons a,
.gameCardSlider .content .buttons button {
  @apply text-white uppercase no-underline;
}

.orderBtn {
  @apply px-4 sm:px-5 py-1.5 sm:py-2 bg-violet-300 hover:bg-violet-300/80 rounded-lg transition text-sm font-bold shadow-md shadow-violet-300/30;
}

.playBtn {
  @apply w-10 h-10 sm:w-12 sm:h-12 bg-blue-300/10 backdrop-blur rounded-full flex items-center justify-center text-2xl sm:text-3xl hover:bg-blue-300/30 text-blue-75 shadow-md hover:scale-110 transition;
}

.video iframe {
  @apply absolute top-0 right-0 w-full sm:w-[85%] h-[60vh] sm:h-[75%] rounded-3xl border-[5px] border-yellow-300/30 bg-black shadow-[0_5px_25px_rgba(255,255,100,0.4)] z-[1100] opacity-0 scale-0 origin-top-right transition duration-500;
  visibility: hidden;
}

.swiper-slide-active .video iframe {
  @apply opacity-100 scale-100;
  visibility: visible;
}

.closeBtn {
  @apply absolute top-4 right-4 z-[1200] text-white bg-blue-200/60 backdrop-blur-md rounded-full p-2 text-lg hover:bg-yellow-200/80 transition shadow-lg;
}

.swiper-slide:hover .gameCardSlider {
  transform: scale(1.02);
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
